.active {
  box-shadow: inset 0 -3px #1877f2;
  border-bottom-width: 3px;
}

.nav-item {
  font-size: 1.3em;
}

.nav-item:hover {
  font-size: 1.3em;
  box-shadow: inset 0 -3px #1877f2;
  border-bottom-width: 3px;
}

.nav-link {
  color: rgb(184, 177, 177);
}
